@media (max-width: 945px) {
  .section__h2 {
    margin: 80px 0 0 70px;
  }
  .section__text {
    margin: 40px auto 0;
    max-width: 75vw;
  }
  .nav {
    position: fixed;
    right: 0;
    top: -100%;
    background: rgba(255, 255, 255, 1);
    padding: 100px 30px 20px 30px;
    overflow: auto;
    transition: top 0.3s ease 0s;
    width: 100%;
    height: 50%;
  }
  .nav._active{
    top: 0;
  }
  .nav__row{
    align-items: flex-end;
    flex-direction: column;
    row-gap: 40px;
    column-gap: 0;
  }
  .burger__menu {
    display: inline;
  }
}
@media (max-width: 600px) {
  .nav {
    height: 100%;
  }
  .section__h2 {
    margin: 120px 0 0 0;
  }
  .logo{
    font-size: 1.7em;
    width: 250px;
  }
  .head{
    align-items: center;
  }
}
